.card {
  width: 650px;
  margin: 20px 10px 0 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px!important;
  height: 275px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  justify-content: center;
  display: grid;
}

mat-form-field {
  width: 425px;
}

button {
  width: 150px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  flex-grow: 1;
  text-align: center;
}

.size-20 {
  width: 25px;
  height: 25px;
}

mat-card-header {
  margin-bottom: 15px;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
